/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50;
}

.app-container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  text-align: center;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  width: 70%;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #3498db;
}

.input-field {
  padding: 12px 12px 12px 35px;  /* Added padding to make space for the icon */
  width: 100%;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #3498db;
}

.submit-button {
  padding: 12px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #2980b9;
}

.submit-button:active {
  background-color: #1d6f96;
}

.submit-button i {
  margin-right: 8px;
}

.error-message {
  color: #e74c3c;
  font-size: 1rem;
  margin-top: 10px;
}

.location-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 10px;
  text-align: left;
  box-sizing: border-box;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.location-info p {
  margin: 8px 0;
  line-height: 1.6;
}

strong {
  color: #2980b9;
}


